@media{
    
body{
    background-color: black;
}

h1{
    color: darkred;
    text-transform: uppercase;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
}

h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

h3{
    color: darkred;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

h4{
    color: darkred;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-size: 12px; 
    text-transform: uppercase;
}

#topperimage{
    border: 5px solid #FFFFFF;
    width: 75%
}

.caption{
    color: darkred;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    letter-spacing: .5px;
    font-size: 15px;
    text-align: center;
}

p{
    color: white;
    font-family: "Kanit", sans-serif;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#DMphotos{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #FFFFFF;
}

#MWphoto{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #FFFFFF;
}

#helmetscarsphoto{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #FFFFFF;
}

#annmckeephoto{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #FFFFFF;
}

#brainimages{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #8B0000;
}

#MBplayingfootballphoto{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #FFFFFF;
}

#MBfamilyphoto{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #FFFFFF;
}
    
}

@media (min-width:576px){
    content{
        width:80%;
    }
}