body {
    background-color: #f6f4f1;
}

h1 {
    font-family: "Lora", serif;
    color: #423e3a;
}

h2{
   color: #cb8e7e;
   font-family: "Times New Roman", Times, serif;
}

img {
    width:75%
}

button{
    background-color: #423e3a;
    border: none;
    text-align: center;
    color: white;
    font-size: 16px;
}

#topper {
    background-image:url(headshot.jpg);
    background-size:cover;
}

#navigation{
    background-color: #423e3a
}

h3{
    text-align: center;
    color: #cb8e7e;
}

h4{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: #cb8e7e;
    font-weight: bold;
}
