body {
    background-color: #f6f4f1;
}

img {
    width:75%;
    border-radius:20%;
}

h1 {
    font-family: "Lora", serif;
    color: #423e3a;
    font-size: 70px;
}

h2{
   color: #cb8e7e;
   font-family: "Times New Roman", Times, serif;
    font-size: 40px
}

button{
    background-color: #423e3a;
    border: none;
    text-align: center;
    color: white;
    font-size: 16px;
}

#navigation{
    background-color: #423e3a;
    text-align:center;
}

h3{
    text-align: center;
    color: #cb8e7e;
    
}

h4{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: #cb8e7e;
    font-weight: bold;
}

.jobcol{
    text-align:center;
}

.jobcompany{
    color: #423e3a; 
}

.jobtitle{
    color: #cb8e7e;
    font-family: "Times New Roman", Times, serif;
}

.jobdate{
    color: #423e3a;
}

.jobdescription{
    color: #cb8e7e;
    font-family: "Times New Roman", Times, serif;
}

ul{
    color: #423e3a;
    font-family: "Lora", serif;
}

.degree{
    color: #423e3a;
}

.school{
   color: #cb8e7e;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 12px;
}

.grad date{
   color: #423e3a; 
}